
h2 {
	font-style: italic;
}
table {
	outline-color: black;
	border-width: 5px;
}
h1 {
	color: #1A1A1A;
}

	td {
	outline-color: #800080;
	outline-width: thick;
}

	
body {
	background-image: url("image.jpg");
}
table {
	padding: 20px;
}
table {
	border-style: solid;
	padding: 20 px;
}

h2 {
	color: #FFFFFF;
	font-size: 45;
	
}

h1 {
	color: white;
}

tr {
	border: 10px;
	border-color: black;
}
table {
	border-width: 1px;
	border-color: white;
}


