body {

	%background: url(beach6.jpg);
	background-color: #3465A4 ;
}
table, th, td {
    border: 5px solid black;
}
h2 {
	font-style: italic;
}
table {
	outline-color: white;
	border-width: 20px;

}

	td {
	padding: 5px;
	outline-color: #800080;
	outline-width: thick;
}

	

table {
	padding: 10px;
}
table {
	border-style: solid;
	padding: 20 px;
}

h2 {
	color: white;
	font-size: 45;
	
}

h1 {
	color: white;
	font-size: 60;
}

tr {
    border:120px solid black;
}
table {
	border-width: 10px;
	border-color: black;
}

tbody {
background: url(beach6.jpg);
%background-color: #3465A4 ;	

}
